:root {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: "Rubik", sans-serif;
  display: grid;
  place-items: center;
  margin: 0;
  padding: 1rem;
  font-size: 14px;

  background: conic-gradient(
    from 315deg,
    rgb(255, 217, 143),
    rgb(163, 148, 255),
    rgb(255, 204, 229),
    rgb(255, 172, 133),
    rgb(255, 217, 143)
  );
  height: 100vh;
}
a {
  text-decoration: none;
}
svg {
  vertical-align: middle;
}
img {
  width: 100%;
}
ul {
  list-style-type: none;
  position: relative;
}
ul::before {
  content: "";
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 60px;
  border-left: 1.8px solid #ccc;
}
ul ul {
  margin-top: 2em;
}
.comment-cont {
  padding: 1.5em;
  background-color: #fff;
  border-radius: 12px;
  display: grid;
  gap: 2rem;
}
.thread1 {
  position: relative;
}
.media {
  display: flex;
  gap: 1rem;
}
.media__name {
  margin-top: 0;
  font-weight: bold;
}
.media__name .comment-time {
  color: lightslategray;
}
.media__image {
  height: 40px;
  width: 40px;
}
.vote span + span {
  margin-left: 1.5rem;
}
.vote .reaction {
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
}
